.inputArea > nav{
	display: inline-block;
	padding: 3px;
	position: relative;
	border: 1px solid grey;
	cursor: pointer;
	height: 1em;
	width: 1em;
}

.inputArea > nav::after{
	content: '';
	border: solid black;
	border-width: 0px 3px 3px 0px;
	width: 60%;
	height: 60%;
	position: absolute;
	left: 15%;
}
.inputArea > nav:hover::after{
	border-color: yellow;
}
.inputArea > .up::after{
	transform: rotateZ(225deg);
	top: 30%;
}
.inputArea > .down::after{
	transform: rotateZ(45deg);
	top: 0%;
}